{% extends "zhaolabsinfo/pages/index.html" %}

{% block content %}

For UNDERGRADUATE students who are interested in research courses in biology (BIOD98 and BIOB98), please contact with Dr. Zhao directly.
Zhao lab is currently recruiting GRADUATE students (either MSc or PhD) starting in September 2022. For those interested in plant biology or using baking yeast as a model, and the research with advanced molecular, biochemical and genetic approaches, please contact with Dr. Rongmin Zhao (rongmin.zhao@utoronto.ca).

{% endblock %}